@import "tailwindcss";

:root {
  --font-michroma: "Michroma", sans-serif;
  
}

body {
    

  font-family: var(--font-michroma);
}

.bold-font {
  font-family: var(--font-michroma);
  font-weight: 700;
}
